h1{
background-color:yellow;
}

P {
    color:blue;
  }

  button{
    color:black;
    background-color:rgb(00, 255, 00);
  }

  body{
    background-color:rgb(255, 255, 00);
  }


  div{
    color:red;
  }  
  p{
    heading{
        text-align:center;
    }
    color:black;
    text-align:center;
  }